.navbar {
  padding-bottom: 20px;
  background-color: transparent;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.header{
  font-size: 40px;
}
.navbar li a, .navbar .navbar-brand {
  margin-top: 0px;
  color: #fff !important;
  font-size: 12px; 
  font-weight: bold;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fff !important;
  background-color: #004E98!important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
  
}