/* body {width: 600px; height: 600px;margin: 100px auto;text-align: center}
div {margin: 0 auto} */

img {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .4s ease-in-out;  
    }

    img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.3);
    }
    /* :root {
        --main-padding: 50px;
      } */
      
.logo-grid{

    margin-left: 250px;
}

      .logo-grid ul {
        width: 900px;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
      }
      
      .logo-grid li {
      width: calc(100% / 3);
      list-style: none;
      }
      
      .logo-grid a {
        display: block;
        height: 10em;
        padding: 50px;
      }
      
      .logo-grid img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      /*   border: 1px dotted #aaa; */
      }
      
      *, *:before, *:after {
        box-sizing: border-box;
      }
      
      .logo-grid .tall, .logo-grid .wide {
        padding: 35px;
      }
      
      
      .logo-grid .square {
        padding: 42px;
      }